@charset "UTF-8";


.purchase_contents{
	display:flex;
	padding:15px 0;
	border-top:1px solid #ebebeb;
	border-bottom:1px solid #ebebeb;
}

.purchase_detail{
	width:80%;
	height:80px;
	display:flex;
	align-items: center;
}

.purchase_thumb{
	width:80px;
	height:80px;
	margin-left:15px;
	margin-right:20px;
}

.purchase_thumb img{
	width:100%;
	height:100%;
}

.purchase_info{
	display:flex;
	align-items:center;
	flex-direction:column;
}
.purchase_name{
	font-size:18px;
	color:#000;
}
.purchase_size, .purchase_price{
	width:100%;
	text-align:left;
	font-size:14px;
	color:rgba(34,34,34,.5);
}

.delivery_info{
	width:20%;
	height:80px;
	line-height:80px;
	text-align:center;
}