<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration> 
<typeAliases>
	<typeAlias alias="bv" type="com.myteam.myapp.domain.BoardVo"/>
	<typeAlias alias="mv" type="com.myteam.myapp.domain.MemberVo"/>
	<typeAlias alias="gv" type="com.myteam.myapp.domain.GoodsVo"/>
	<typeAlias alias="piv" type="com.myteam.myapp.domain.ProductImgVo"/>
	<typeAlias alias="sv" type="com.myteam.myapp.domain.SizeVo" />
	<typeAlias alias="av" type="com.myteam.myapp.domain.AddressVo"/>
	<typeAlias alias="rv" type="com.myteam.myapp.domain.RefundVo"/>
	<typeAlias alias="ov" type="com.myteam.myapp.domain.OrderVo"/>
	<typeAlias alias="lv" type="com.myteam.myapp.domain.LikesVo"/>
	<typeAlias alias="cv" type="com.myteam.myapp.domain.CouponVo"/>
	<typeAlias alias="pv" type="com.myteam.myapp.domain.PointVo"/>


	<typeAlias alias="awv" type="com.myteam.myapp.domain.AdminWriteVo"/>

	<typeAlias alias="mpv" type="com.myteam.myapp.domain.MemberPointVo"/>
	<typeAlias alias="iv" type="com.myteam.myapp.domain.InterestVo"/>
	<typeAlias alias="pmv" type="com.myteam.myapp.domain.PayVo"/>
	<typeAlias alias="cmv" type="com.myteam.myapp.domain.CommentVo"/>
	<typeAlias alias="fv" type="com.myteam.myapp.domain.FollowingVo"/>
	<typeAlias alias="hv" type="com.myteam.myapp.domain.HashTagVo"/>
	<typeAlias alias="bhv" type="com.myteam.myapp.domain.Board_hashtagVo"/>
	<typeAlias alias="cmd" type="com.myteam.myapp.domain.CommentDto"/>
	<typeAlias alias="ld" type="com.myteam.myapp.domain.LikesDto"/>
	<typeAlias alias="lmd" type="com.myteam.myapp.domain.LikeMemberDto"/>
	<typeAlias alias="od" type="com.myteam.myapp.domain.OrderDto"/>
	<typeAlias alias="pd" type="com.myteam.myapp.domain.ProductDto"/>
	<typeAlias alias="sd" type="com.myteam.myapp.domain.SizeDto"/>
	<typeAlias alias="gid" type="com.myteam.myapp.domain.GoodsInterestDto"/>
	
	<typeAlias alias ="agd" type="com.myteam.myapp.domain.AdminGoodsDto"/>
	<typeAlias alias = "asd" type="com.myteam.myapp.domain.AdminSizeDto"/>
</typeAliases>
</configuration>