<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myteam.myapp.persistance.BoardService_Mapper">

<insert id="boardInsert" parameterType="bv">
		INSERT INTO board(boardNo, contentsImg, contents, memberNo, viewCnt)
		VALUES(#{boardNo}, #{contentsImg}, #{contents}, #{memberNo}, #{viewCnt})
</insert>

<select id="boardList" parameterType="int" resultType="bv">
	SELECT a.*, IFNULL(b.like_check, 0) AS like_check, m.memberId
	FROM board a
	LEFT JOIN likes b ON a.boardNo = b.boardNo AND b.memberNo =#{memberNo}
	JOIN member m ON a.memberNo = m.memberNo
	WHERE a.delYn = 'N' AND a.memberNo =#{memberNo}
	ORDER BY a.boardNo DESC
</select>

<select id="likesList" parameterType="lv" resultType="int">
	select count(*) from likes where boardNo=#{boardNo} and memberNo=#{memberNo}
</select>
<!-- 이거 -->
<select id="likesCnt" parameterType="Integer" resultType="Integer">
	select like_check from likes where memberNo = #{0} and boardNo = #{1} 
</select>
<!-- 이거 -->
<insert id="insertLike" parameterType="lv"> 
	INSERT INTO likes(boardNo, memberNo, like_check)
	VALUES(#{boardNo}, #{memberNo}, 1);
</insert>

<update id="updateLike" parameterType="int">
	UPDATE LIKES SET LIKE_CHECK = (CASE LIKE_CHECK WHEN 0 THEN 1 ELSE 0 END) WHERE boardNo=#{boardNo} AND memberNo = #{memberNo}
</update>
 
<update id="likesTotalCntUpdate" parameterType="Integer">
	update board SET likeCnt = (select count(*) from likes WHERE like_check = 1 AND boardNo = #{boardNo})where boardNo = #{boardNo}
</update>

<select id="likesTotalCnt" parameterType="Integer" resultType="Integer">
	select likeCnt from board where boardNo=#{boardNo}
</select>

<select id="boardSelectOne" parameterType="int" resultType="bv">
	select*from board where delYn='N' and boardNo=#{boardNo}
</select>

<update id="boardModifyUpdate" parameterType="bv">
	update board set contents=#{contents} where boardNo=#{boardNo}
</update>


<!--  
<select id="boardTotalList" resultType="bv">
	select * from board a left outer join likes b on a.boardNo = b.boardNo where a.delYn = 'N' ORDER BY a.likeCnt DESC;
</select>
-->
</mapper>