<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myteam.myapp.persistance.BoardService_Mapper">

<insert id="boardInsert" parameterType="bv">
		INSERT INTO board(boardNo, contentsImg, contents, memberNo, viewCnt)
		VALUES(#{boardNo}, #{contentsImg}, #{contents}, #{memberNo}, #{viewCnt})
</insert>





</mapper>