<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myteam.myapp.persistance.ShopService_Mapper">
	<sql id="searchCategory">
		<choose>
			<when test="value==0">
				order by a.goodsNo desc 
			</when>
			<when test="value==1">
				AND category in 
				<foreach collection="filter" item="item" separator="," open="(" close=")">
					#{item}
				</foreach>
				OR categoryName in 
				<foreach collection="filter" item="item" separator="," open="(" close=")">
					#{item}
				</foreach>
				order by a.category desc ,a.goodsNo desc  
			</when>
		</choose>
		<!-- 
			하위 카테고리
			- 상위 카테고리 선택시 전체 하위 카테고리 in절 생성
			
			
		 -->
	</sql>	
	
	<select id="goodsSelectAll" resultType="gv">
		select * from goods a inner join productImg b on a.goodsNo = b.goodsNo
		where b.goodsNo IN (select goodsNo from productImg group by goodsNo having imgNo=min(imgNo)) order by a.goodsNo desc
 
	</select>
	
	<select id="goodsSelectOne" parameterType="int" resultType="gv">
		select * from goods where goodsNo = #{goodsNo}
	</select>

	<select id="imgSelectOne" parameterType="int" resultType="piv">
		
		select * from productImg where goodsNo = #{goodsNo} order by imgNo asc
	
	</select>
	
	<select id="filterList" parameterType="java.util.List" resultType="piv">
		select * from goods a inner join productImg b on a.goodsNo = b.goodsNo
		where b.goodsNo IN (select goodsNo from productImg group by goodsNo having imgNo=min(imgNo))
 
		<include refid="searchCategory" />
	</select>
	
</mapper>