@charset "UTF-8";

.popup_wrap{
	display:none;
	position:fixed;
	top:0;
	right:0;
	width:420px; 

	background-color: #fff; 
	z-index:15;
	border-left:1px solid #f4f4f4;
	box-shadow:-1px;
}

.popup_title_wrap{
	height:32px;
	width:308px;
	padding:30px 0 30px 24px;
	display:flex;
}

.cancel_popup{
	border:0;
	background:#fff;
	font-size:24px;
	cursor:pointer;
}

.popup_title{
	width:100%;
	margin-left:15px;
	display:flex;
	align-items:center;
}
	
      
.comment_top{
	width:372px;
	padding:0 24px 20px 24px;
	display:flex;
}	

.user_img{
	width:34px;
	height:34px;
}

.user_id{
	font-size:14px;
	font-weight:bold;
}
.othereuser_id{
	font-size:14px;
	font-weight:bold;
}

.content_top{
	font-size:15px;
}
        	
.tag{
	font-size:12px;
}

.tag:link {
	color:#297dcb;;
}

.social_comment_input{
	width:372px;
	height:41px;
	padding:10px 24px;
	display:flex;
	align-items : center;
	justify-content:space-between;
	border-bottom:1px solid #ebebeb;
	border-top:8px solid #f4f4f4;
}

.social_comment_input > form[name=crm]{
	display:flex;
	align-items : center;
}

.comment_input{
	width:212px;
	height:17px;
	padding:11px 52px 11px 12px;
	background:#fafafa;
	border:1px solid #ebebeb;
	border-radius:14px;
	margin-left:10px;
}

.submit_comment, .modify_comment{
	width:40px;	
	height:100%;
	padding-left:5px;
	border:0;
	background:#fff;
	font-weight:bold;
	font-size:14px;
	text-align:center;
	
}
    	
.comment_area{

}

.comment_txt_area{
	margin-left:5px;
}

.comment_txt{
	font-size:14px;
}

.write_date{
	font-size:12px;
}

.reply_comment_btn{
	border:0;
	background:#fff;
	color:rgba(34,34,34,.5);
	cursor:pointer;
}
.delete_comment_btn{
	border:0;
	background:#fff;
	color:rgba(34,34,34,.5);
	cursor:pointer;
}

.correction_comment_btn{
	border:0;
	background:#fff;
	color:rgba(34,34,34,.5);
	cursor:pointer;
	
}

.getCommentList{
	width:355px;
	padding:12px 24px;
	display:flex;
	align-items:center;
}

