@charset "UTF-8";

.shopContent_popup{
	height:500px;
	margin-top:100px;
}
.status_item_list{
	width:100%;
	display:flex;
	justify-content:space-between;
	align-items:center;
	flex-wrap: wrap;
}

.status_item_s{
	width:110px;
	height:52px;
	margin:6px;
	border:1px solid #ebebeb;
	border-radius:12px;
	display:flex;
	cursor:pointer;
	flex-direction:column;
	align-items:center;
}

.status_item_s span{
	width:100%;
	height:100%;
	text-align:center;
	font-size:14px;
	display:block;
	font-weight:bold;
}