@charset "UTF-8";

.search_wrap{
	height:440px;
}
.search_area{
	height:320px;
}

.input_item{
	padding-bottom:5px;
	margin-bottom:15px;
}
.input_item p{
	display:inline-block;
	width:100px;
	height:20px;
	font-size:15px;
	font-weight:bold;
	text-align:left;
	padding-right:10px;
	margin-right:10px;
	border-right:1px solid #ebebeb;
}
.input_item input{
	width:240px;
	display:inline-block;
}