@charset "UTF-8";


.content_title_account{
	width:100%;
	height:76px;
	display:flex;
	justify-content:space-between;
}

.plus_account{
	width:110px;
	height:35px;
	border:1px solid #222;
	border-radius:12px;
	font-size:12px;
	background:#fff;
	cursor:pointer;
}

.empty_payAccount_info{
	width:100%;
	height:17px;
	padding:160px 0;
	border:0;
	background:#fafafa;
	font-size:13px;
	color:rgba(34,34,34,.5);
	text-align:center;
}