@charset "UTF-8";

.user_memberShip{
	width:975px;
	height:100px;
	padding:23px 0 23px 23px;
	border:1px solid #ebebeb;
	border-radius:10px;
	background:#fff;
	display:flex;
	justify-content: space-between;
}

.memberShip_detail{
	width:318px;
	height:100px;
	display:flex;
}

.memberShip_item{
	width:159px;
	height:100px;
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
}
	
.info, .title{
	display:block;
	width:159px;
	text-align:center;
}

.title{
	font-size:13px;
	color:rgba(34,34,34,.5);
}

.myHome_title_wrap{
	width:1000px;
	height:26px;
	padding-bottom:16px;
	margin-top:80px;
	display:flex;
	justify-content:space-between;
}

.myHome_title_wrap > a > span{
	font-size:15px;
	color:rgba(34,34,34,.5);
}

.myHomeTitle{
	font-size:18px;
}

.purchase_list_wrap{
	background:#fafafa;
	border-radius:12px;
	height:96px;
	display:flex;
	justify-content:space-around;
}

.purchase_item{
	width:33%;
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.purchase_item a{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.purchase_cnt_1, .purchase_title, .purchase_cnt{
	font-size:15px;
	text-align:center;
}

.purchase_cnt_1{
	color:#f15746;
}

.purchase_cnt, .purchase_cnt_1{
	margin-top:2px;
	font-size:18px;
	font-weight:bold;
} 

.purchase_contents_wrap{
	padding:20px 0;
	border-bottom:2px solid #e4e4e4;
}

.product_item{
	width:231px;
	padding:20px 12px;
	cursor:pointer;
}

.item_thumb{
	width:231px;
	height:256px;
	position:relative;
}

.item_thumb img{
	width:100%;
	height:100%;
}

.favorite_thumb{
	width:25px;
	height:20px;
	position:absolute;
	right:10px;
	bottom:10px;
}

.favorite_thumb img{
	width:100%;
	height:100%;
}

.item_info{
	width:231px;
	padding-top:10px;
}

.item_name, .item_contents{
	font-size:13px;
	padding-bottom:5px;
}

.item_name{
	font-weight:bold;
	
}

.item_price{
	font-size:14px;
	font-weight:bold;
}

.item_size{
	font-size:14px;
}

.dotImage_wrap{
	margin-top:20px;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}

.dotImage{
	width:50px;
	height:50px;
}
